.header {
    width: 100%;
    background-color: #181818;
    &__wrapper {
        height: 75px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .logo {
            width: 70px;
            &__img {
                width: 100%;
            }
        }
        .menu {
            width: 600px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            &__link {
                color: white;
                font-style: normal;
                font-weight: 500;
                font-size: 25px;
                line-height: 30px;
                text-decoration: none;
                transition: all 0.3s;
                &:hover {
                    color: #5f88e2;
                }
            }
        }
        .btn {
            display: block;
            width: 135px;
            height: 48px;
            border-radius: 50px;
            background-color: #ca66ed;
            color: white;
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            line-height: 21px;
            transition: all 0.3s;
            &:hover {
                background-color: #5f88e2;
            }
        }
    }

    @media (min-width: 991px) {
        .header__wrapper {
            input {
                display: none;
            }
            label {
                display: none;
            }
            #menu {
                display: none;
            }
        }
    }
    @media (max-width: 991px) {
        @import '../base/menuBurger';
        .menu, .btn_header {
            display: none;
        }
    }
}

